In [1]:
#import asyncio
import warnings
#asyncio.set_event_loop_policy(asyncio.WindowsSelectorEventLoopPolicy())
#warnings.filterwarnings("ignore", category=RuntimeWarning)

In [2]:
import os
import pandas as pd
import yaml
from sqlalchemy import create_engine

Paquetes Python

In [3]:
# Instala SQLAlchemy para manejar la conexión a bases de datos y mapear datos tabulares en Python.
%pip install sqlalchemy

# Instala pandas para cargar, manipular, transformar y analizar los datos.
%pip install pandas

# Instala psycopg2 para interactuar con bases de datos PostgreSQL.
%pip install psycopg2

# Instala psycopg2-binary, la versión binaria, para facilitar la interacción con PostgreSQL.
%pip install psycopg2-binary

# Instala la biblioteca yaml
%pip install pyyaml

Requirement already satisfied: sqlalchemy in /home/ervin-caravali-ibarra/Vídeos/ETL_FAST_AND_SAFE/venv/lib/python3.12/site-packages (2.0.41)

Requirement already satisfied: greenlet>=1 in /home/ervin-caravali-ibarra/Vídeos/ETL_FAST_AND_SAFE/venv/lib/python3.12/site-packages (from sqlalchemy) (3.2.3)
Requirement already satisfied: typing-extensions>=4.6.0 in /home/ervin-caravali-ibarra/Vídeos/ETL_FAST_AND_SAFE/venv/lib/python3.12/site-packages (from sqlalchemy) (4.14.1)

Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: pandas in /home/ervin-caravali-ibarra/Vídeos/ETL_FAST_AND_SAFE/venv/lib/python3.12/site-packages (2.3.0)

Requirement already satisfied: numpy>=1.26.0 in /home/ervin-caravali-ibarra/Vídeos/ETL_FAST_AND_SAFE/venv/lib/python3.12/site-packages (from pandas) (2.3.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/ervin-caravali-ibarra/Vídeos/ETL_FAST_AND_SAFE/venv/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/ervin-caravali-ibarra/Vídeos/ETL_FAST_AND_SAFE/venv/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /home/ervin-caravali-ibarra/Vídeos/ETL_FAST_AND_SAFE/venv/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /home/ervin-caravali-ibarra/Vídeos/ETL_FAST_AND_SAFE/venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

Note: you may need to restart the kernel to use updated packages.

Collecting psycopg2
  Using cached psycopg2-2.9.10-cp312-cp312-linux_x86_64.whl

Installing collected packages: psycopg2

Successfully installed psycopg2-2.9.10

Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: psycopg2-binary in /home/ervin-caravali-ibarra/Vídeos/ETL_FAST_AND_SAFE/venv/lib/python3.12/site-packages (2.9.10)

Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: pyyaml in /home/ervin-caravali-ibarra/Vídeos/ETL_FAST_AND_SAFE/venv/lib/python3.12/site-packages (6.0.2)

Note: you may need to restart the kernel to use updated packages.

Agregar conexión a la base de datos

In [4]:
# Abrimos el archivo YAML de configuración ubicado en el directorio '../../configBD/config.yml'.
# Este archivo contiene los parámetros de conexión a la base de datos.
with open('../../configBD/config.yml', 'r') as f:
    # Cargamos el archivo YAML usando la función safe_load de la librería 'yaml'.
    # Esto convierte el contenido del archivo en un diccionario de Python.
    config = yaml.safe_load(f)

    # Extraemos la configuración específica para la base de datos 'bodega'.
    # Se asume que el archivo YAML tiene una sección llamada 'bodega' con los detalles de conexión.
    config_etl = config['bodega']
    config_bd  = config['mensajeria']
    
config_etl

{'driver': 'postgresql+psycopg2',
 'host': 'proyectobodega.postgres.database.azure.com',
 'port': 5432,
 'user': 'adminbodega',
 'password': 'Goddess9039',
 'db': 'proyectobodega'}

In [5]:
# Construimos la URL de conexión a la base de datos usando los parámetros extraídos del archivo YAML.
# Esta URL sigue el formato estándar de SQLAlchemy: 'driver://user:password@host:port/dbname'.
url_bd = (f"{config_bd['driver']}://{config_bd['user']}:{config_bd['password']}@{config_bd['host']}:"
          f"{config_bd['port']}/{config_bd['db']}")
url_bd

'postgresql://postgres:Ec94@localhost:5432/proyecto'

In [6]:
url_etl = (f"{config_etl['driver']}://{config_etl['user']}:{config_etl['password']}@{config_etl['host']}:"
           f"{config_etl['port']}/{config_etl['db']}")
url_etl

'postgresql+psycopg2://adminbodega:Goddess9039@proyectobodega.postgres.database.azure.com:5432/proyectobodega'

In [7]:
# Creamos el motor de conexión a la base de datos usando SQLAlchemy.
# El motor de conexión se usa para ejecutar consultas y transacciones en la base de datos.
cliente_bd  = create_engine(url_bd)
cliente_etl = create_engine(url_etl)

Tabla de cargas

In [8]:
# Cargar la tabla "cliente" desde la base de datos a un DataFrame de pandas utilizando la conexión 'co_sa'
cliente = pd.read_sql_table("cliente", cliente_bd)

# Mostrar las primeras filas del DataFrame 'cliente' para revisar su contenido
cliente.head()

,cliente_id,nit_cliente,nombre,email,direccion,telefono,nombre_contacto,ciudad_id,tipo_cliente_id,activo,coordinador_id,sector
0,1,25,Cliente 2,algo.com,Calle 100 No 25-18,327-00000,Cristiano Ronaldo,1,1,True,NaN,S
1,2,123,Cliente 1,algo.com,Calle 100 No 25-18,327-00000,Cristiano Ronaldo,1,1,True,2.0,industrial
2,6,24390-3,CLINICA DEPORTIVA DEL SUR,algo.com,Calle 100 No 25-18,327-00000,Cristiano Ronaldo,1,1,True,1.0,salud
3,19,8301821,HOSPITAL ORTOPEDICO DE COLOMBIA,algo.com,Calle 100 No 25-18,327-00000,Cristiano Ronaldo,1,1,True,NaN,salud
4,8,5017350-8,CLINICA NEFROLOGOS DE CALI,algo.com,Calle 100 No 25-18,327-00000,Cristiano Ronaldo,1,1,True,NaN,salud

Remplazar campos

In [9]:
cliente['coordinador_id'] = cliente['coordinador_id'].fillna(0)
cliente.head()

,cliente_id,nit_cliente,nombre,email,direccion,telefono,nombre_contacto,ciudad_id,tipo_cliente_id,activo,coordinador_id,sector
0,1,25,Cliente 2,algo.com,Calle 100 No 25-18,327-00000,Cristiano Ronaldo,1,1,True,0.0,S
1,2,123,Cliente 1,algo.com,Calle 100 No 25-18,327-00000,Cristiano Ronaldo,1,1,True,2.0,industrial
2,6,24390-3,CLINICA DEPORTIVA DEL SUR,algo.com,Calle 100 No 25-18,327-00000,Cristiano Ronaldo,1,1,True,1.0,salud
3,19,8301821,HOSPITAL ORTOPEDICO DE COLOMBIA,algo.com,Calle 100 No 25-18,327-00000,Cristiano Ronaldo,1,1,True,0.0,salud
4,8,5017350-8,CLINICA NEFROLOGOS DE CALI,algo.com,Calle 100 No 25-18,327-00000,Cristiano Ronaldo,1,1,True,0.0,salud

In [10]:
columnas_relevantes = ['cliente_id', 'nombre', 'nit_cliente',  'email', 'direccion', 'telefono']
dim_cliente = cliente[columnas_relevantes]

Cargar

In [11]:
dim_cliente.to_sql('dim_cliente', con=cliente_etl, index_label='ClienteKey', if_exists='replace')

27

In [12]:
loaded_dim_cliente = pd.read_sql_table('dim_cliente', cliente_etl)
print(loaded_dim_cliente.head())

   ClienteKey  cliente_id                           nombre nit_cliente  \
0           0           1                        Cliente 2          25
1           1           2                        Cliente 1         123
2           2           6       CLINICA  DEPORTIVA DEL SUR     24390-3
3           3          19  HOSPITAL ORTOPEDICO DE COLOMBIA     8301821
4           4           8      CLINICA NEFROLOGOS  DE CALI   5017350-8

      email           direccion   telefono
0  algo.com  Calle 100 No 25-18  327-00000
1  algo.com  Calle 100 No 25-18  327-00000
2  algo.com  Calle 100 No 25-18  327-00000
3  algo.com  Calle 100 No 25-18  327-00000
4  algo.com  Calle 100 No 25-18  327-00000